<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
		<meta name="author" content="" />
		<link rel="icon" href="favicon.ico" />

		<title>ZVX区块链孵化平台</title>

      <style type="text/css">
           #bottonStyle{
               outline: none;       /*去除点击后样式的核心代码*/
               border-style: none;
           }
        </style>

     <!-- Bootstrap core CSS -->
		<link href="dist/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Bootstrap theme -->
		<link href="dist/css/bootstrap-theme.min.css" rel="stylesheet" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9
			]><script src="assets/js/ie8-responsive-file-warning.js"></script
		><![endif]-->
		<script src="assets/js/ie-emulation-modes-warning.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/ethers@5.0.32/dist/ethers.umd.min.js"></script>
  <script src="/dapp.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
<!-- abi -->

<!-- 头部 -->

 <style>  
div.wid{ 
    width:150px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
 }  
 </style>  



<nav class="navbar navbar-default  navbar-fixed-top navbar-inverse  container-fluid">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">首页</a></li>
        <li><a href="mint/zvx/">铸造</a></li>
        <li><a href="#">空投</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">代币管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">分红币管理</a></li>
            <li><a href="#">八代后台管理</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">普通代币</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="合约地址">
        </div>
        <button type="submit" class="btn btn-default">代币查询</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
<li><a >

<!-- 连接钱包 -->
 <!-- <div id="vm" >
         <div v-if="!ready && !wrongNetwork"  >
            <button v-on:click="connectWallet" type="button" class="btn btn-primary">
              连接钱包
            </button>
          </div>
          <div class="wid">
            <span class="badge" v-if="wrongNetwork" >请什么</span>  
            <span   v-if="ready || wrongNetwork" v-text="account" class="label-success " ></div> </span>
            </div> -->






<!-- <button type="button" class="btn btn-danger">连接钱包</button> -->



        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- 参考内容   -->
		<!-- 内容 -->
    
 <div class="jumbotron" style="background-color: rgba(34, 34, 34);">
  
<nav class="container">
<div class="row">
  
  <div class="col-md-5"><nav class="jumbotron" style="background-color: rgb(255, 254, 255, 0);">
  <br>
  <br>
  <br>
  <br>
  <h2 > <strong><div style="color: rgb(255, 255, 255);">ZVX区块链孵化中心</div> 
<div style="color: rgb(26, 182, 117);">因技术而生，铸力量而成</div><br>  </strong></h2>
  
   <a href="mint/zvx/"><button type="button" class="btn btn-success"   >马上使用   </button></a>
         &nbsp; &nbsp;    <a href="https://t.me/ZVX_Official"   target="_black">  <button type="button" class="btn btn-default">加入我们   </button></a>

  </nav></div>
  <br>
  <br>

  <img src="/img/main.png" style="height: 350px;" alt="">
</div></nav></div>
</div>
</nav>
</div>
 <!-- <nav class="navbar-static-top" >
<div class="jumbotron" style="background-color: rgba(17, 16, 17, 0.815);">
<nav class="container">
<div class="row container">
  <div class="col-md-7"><div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div></div>
  <nav>
<div class="embed-responsive embed-responsive-item" style="width: 465px;height: 265px;" >
  <iframe class="embed-responsive-item"  src="/intro.c4dcd395.mp4"></iframe>
</div>
</nav>

</div>
</nav>
</div>
</nav> -->

<!-- 文字内容 -->
<nav class="container">
<div class="row  ">
  <div class="col-md-12" style="text-align: center;">
    <h2 style="color: rgb(26, 182, 117);"><strong>区块链服务引导者</strong> </h2> 
    <h5 style="color: rgb(133, 133, 133);"><strong>让您无需任何技术即可拥有属于您的区块链项目 </strong></h5>
  </div>

</div>
</nav>
<br>
<br>
<br>
<!-- 缩略图 -->
<nav class="container">
<div class="row">
  <div class="col-md-4"><p style="text-align: center;"  ><img src="/img/01.png" alt="123"   style="height: 130px;" class="img-rounded" ></p>
    
     <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>一键发币 </strong></h5>
     <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>使用zvx协议随意组合即可部署您想要的任意代币 </strong></h5>
    </div>
  <div class="col-md-4"><p style="text-align: center;"  ><img src="/img/02.png" alt="123"   style="height: 130px;" class="img-rounded" ></p>
       <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>储物柜 </strong></h5>
     <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>敬请期待…… </strong></h5>
  </div>
  <div class="col-md-4"><p style="text-align: center;"  ><img src="/img/03.png" alt="123"   style="height: 130px;" class="img-rounded" ></p>
       <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>发射平台 </strong></h5>
     <h5 style="color: rgb(133, 133, 133); text-align: center;"><strong>敬请期待…… </strong></h5>
  </div>
</div>
</nav>

<!-- 搜索 -->
<br>
<br>
<br>
<nav class="container">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">最近铸造的代币</div>
  <div class="panel-body">
    <p>证书查询功能敬请期待……</p>
  </div>

  <!-- Table -->
  <table class="table" >
    <thead>
        <tr>
          <th style="text-align: center; color: rgb(133, 133, 133);">代币名称</th>
          <th style="text-align: center; color: rgb(133, 133, 133);">合约地址</th>
          <th style="text-align: center; color: rgb(133, 133, 133);">供应量</th>
          <th style="text-align: center; color: rgb(133, 133, 133);">查看证书</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
                <tr>
          <td style="text-align: center; color: rgb(133, 133, 133);">BTC COIN</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">0x4F4510a472BA91167b3A37BC957c03F33fc22915</td>
          <td style="text-align: center; color: rgb(133, 133, 133);">210000</td>
          <td style="text-align: center; color: rgb(133, 133, 133);"><button type="button" class="btn btn-default btn-xs">查看</button></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>
 <h5 style="color: rgb(26, 182, 117); text-align: center;">*要查看其他代币请在搜索框输入合约地址查看 </h5>
</div>
</nav>





<!-- 底部 -->

 <div style="background-color: rgba(34, 34, 34);">
<nav class="container " >
  <h3 style="color: rgb(255, 255, 255);"><strong>合作伙伴</strong> </h3> 
<div class="row">
  <div class="col-md-2"><img src="/img/1.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/2.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/3.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/4.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/5.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/6.png"  style="width: 170px;height: 36px;"  alt=""></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"><img src="/img/7.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/8.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/9.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/10.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/11.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/12.png"  style="width: 170px;height: 36px;"  alt=""></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"><img src="/img/13.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/14.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/15.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"><img src="/img/16.png"  style="width: 170px;height: 36px;"  alt=""></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
 
</div>
 <br>
</nav>
<div style="background-color: rgba(0, 0, 0, .85);">
<nav class="container " >
<div class="jumbotron" style="height: 125px;background-color: rgba(0, 0, 0, 0);">

<div><img src="/img/logo.png"  style="width: 125px; height: 75px;" alt="">

<div class="nav navbar-nav navbar-right"><h4 style="color: rgb(192, 188, 188);"><strong>联系我们：

<a href="https://t.me/ZVX_Official" target="_black"><img src="/img/ico_telegram.png" style="height: 30px;" alt=""></a>   
  <img src="/img/ico_twitter.png" style="height: 30px;" alt=""> 
  </a><img src="/img/ico_youtube.png" style="height: 30px;" alt="" > 
</strong> </h4> 
</div>




</div>


</div>
</nav>
  <div>


 
</div>
<!-- 底部 -->

     		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
			src="https://code.jquery.com/jquery-1.12.4.min.js"
			integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
			crossorigin="anonymous"
		></script>
		<script>
			window.jQuery ||
				document.write(
					'<script src="assets/js/vendor/jquery.min.js"><\/script>'
				);
		</script>
		<script src="dist/js/bootstrap.min.js"></script>
		<script src="assets/js/docs.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>   
    </body>
</html>