<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="ZVX Blockchain Incubation Platform" />

		<title>ZVX Blockchain Incubation Platform</title>

		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/bootstrap-icons.css" />

		<script src="../../css/jquery.min.js"></script>
		<script src="../../css/bootstrap.bundle.min.js"></script>

		<script src="../../css/vue.js"></script>

		<script src="../../css/ethers.umd.min.js"></script>
		<script src="dapp.js"></script>

		<style type="text/css">
			#bottonStyle {
				outline: none; /*去除点击后样式的核心代码*/
				border-style: none;
			}
		</style>
	</head>
	<body style="background-color: black">
         <style>  
div.wid{ 
    width:125px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
 }  


div.body { padding-top: 130px; }






 </style>  
<div id="vm">


  
		<header class="p-3 bg-dark text-white fixed-top">
			<div class="container ">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
				>
				<img src="../../img/fi.png" alt="">
        
					<ul
						class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
					>
						<li><a href="https://zvx.cc" class="nav-link px-2 text-white">HOME</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary">MINT</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">Liquid pledge</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">airdrop</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">Website building
</a></li>
					</ul>
      <a href="../../mint/zvx/" class="nav-link px-2 text-white" > 中文简体<img src="../../img/china.png" alt="china" style="height: 39px;"></a>
					<div class="text-end">

 
      <form class="d-flex" >
    
        
         <button  class="btn btn-outline-success"  id="wallet" v-if="!ready && !wrongNetwork" v-on:click="connectWallet" type="button" > connect wallet </button>
         <span class="badge bg-success" v-if="ready "><div >connection succeeded:<span  href="#0"   v-text="account"></div></span></span>
         <span class="badge bg-danger"  v-if="wrongNetwork"  >Please switch to BSC Smart Chain</span>
        
         
      </form>


       


					</div>
				</div>
			</div>
		</header>



<!--  -->


 <!-- Loading Modal -->
  <div id="loadingModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="loadingLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="loadingLabel">&nbsp;</h4>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert Modal -->
  <div id="alertModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="alertLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="alertLabel">&nbsp;</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <i class="fs-2 text-danger fe fe-alert-triangle"></i>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Info Modal -->
  <div id="infoModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="infoLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="infoLabel">&nbsp;</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <i class="fs-2 fe fe-info"></i>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>



<!-- 正文 -->





<div class="container-lg  body ">
 <div class="row mb-3 ">
       <div class="col-md-4 themed-grid-col" >
      





        
          <ul class="list-group mb-3" style="text-align: center;" >
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h3 class="my-0" >terms and Conditions</h3>
             
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>Public beta is underway, currently only 0.1 Binance Coin is required</strong> </h6>
             
            </div>
            
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>Tokens deployed using this protocol are exempt from auditing</strong> </h6>
             
            </div>
            
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>Certificate issuance (coming soon)</strong> </h6>
             
            </div>
            
          </li>
                

        </ul>   
      

           <ul class="list-group mb-3" >
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="new-address">
              <h6 class="my-0">Your recently deployed token</h6>

                  </div>

          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{newContractAddress[0]}}</h6>

            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
              <h6 class="my-0">{{newContractAddress[1]}}</h6>

            </div>

          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
   <div>
              <h6 class="my-0">{{newContractAddress[2]}}</h6>

            </div>

          </li>
          <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[3]}}</h6>

            </div>
          </li>
 <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[4]}}</h6>

            </div>
          </li>
  <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[5]}}</h6>

            </div>
          </li>
            <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[6]}}</h6>

            </div>
          </li>  <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[7]}}</h6>

            </div>
          </li>  <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[8]}}</h6>

            </div>
          </li>
            <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[9]}}</h6>

            </div>
          </li>  <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[10]}}</h6>

            </div>
          </li>  <li class="list-group-item d-flex justify-content-between">
   <div>
              <h6 class="my-0">{{newContractAddress[11]}}</h6>

            </div>
          </li>
        </ul>   
      
      

      
      
      
      </div>
      
      <div class="col-md-8 themed-grid-col "  >
             
 <a href="../../en/matic/" ><button type="button"  class="btn btn-outline-success">matic base token</button></a>
 <a href="../../en/bsc/" ><button type="button" class="btn btn-outline-success">BSC base token</button></a>
 <a href="../../en/heco/" ><button type="button" class="btn btn-outline-success">HECO base token</button></a>
 <a href="../../en/okx/" ><button type="button" class="btn btn-outline-success">OKX base token</button></a>
 <a href="../../en/zvx/" ><button type="button" class="btn btn-outline-success">ZVX protocol full-featured token</button></a>
<div class="card text-white bg-dark mb-3" >
  <br>
  <label for="inputPassword5" class="form-label container "  ><h3 >
ZVX protocol full-featured token (all-round version)</h3> </label>
  <div class="card-body">

    <label for="inputPassword5" class="form-label  " ><strong><h4>
Token Basic Information</h4> </strong> </label>
    <form  v-on:submit.prevent="createChild">

   <div class="row g-3">
  <div class="col">
   
    <input autocomplete="off" type="text" v-model="name" class="form-control"      id="inputPasswor2"          placeholder="token_name" >
  </div>
  <div class="col">

    <input autocomplete="off" type="text" v-model="symbol" class="form-control"      id="inputPasswor3"          placeholder="symbol" >
  </div>
  </div>
 <br>
<div class="row g-3">
  <div class="col">
    
    <input autocomplete="off" type="text" v-model="totalSupply" class="form-control"      id="inputPasswor2"          placeholder="_total_supply" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
  <br>
  <div class="row g-3">
  <div class="col">
    <input autocomplete="off" type="text" v-model="addrs4" class="form-control"      id="inputPasswor2"         placeholder="Token administrator address, tokens will also be sent to this address, required" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
 <br>

<label for="inputPassword5" class="form-label  " ><strong><h4> Dividend rate setting</h4> </strong> </label>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>buy dividend ratio </strong> </label>
    <input autocomplete="off" type="text" v-model="buyFeeSetting1" class="form-control"      id="inputPasswor2"          placeholder="买入分红比例" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>buy to increase liquidity </strong> </label>
    <input autocomplete="off" type="text" v-model="buyFeeSetting2" class="form-control"      id="inputPasswor2"          placeholder="买入添加流动性" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>buy-in marketing expenses</strong> </label>
    <input autocomplete="off" type="text" v-model="buyFeeSetting3" class="form-control"      id="inputPasswor2"          placeholder="买入营销钱包" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>How much do I need to destroy when buying? </strong> </label>
    <input autocomplete="off" type="text" v-model="buyFeeSetting4" class="form-control"      id="inputPasswor2"          placeholder="买入销毁比例" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
  <br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>Dividend ratio when selling </strong> </label>
    <input autocomplete="off" type="text" v-model="sellFeeSetting1" class="form-control"      id="inputPasswor2"          placeholder="卖出分红比例" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>Add liquidity ratio when selling </strong> </label>
    <input autocomplete="off" type="text" v-model="sellFeeSetting2" class="form-control"      id="inputPasswor2"          placeholder="卖出添加流动性" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>Marketing expenses at the time of sale </strong> </label>
    <input autocomplete="off" type="text" v-model="sellFeeSetting3" class="form-control"      id="inputPasswor2"          placeholder="卖出营销钱包" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>How much is destroyed when sold </strong> </label>
    <input autocomplete="off" type="text" v-model="sellFeeSetting4" class="form-control"      id="inputPasswor2"          placeholder="卖出销毁比例" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
  <br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>How much to hold to participate in dividends </strong> </label>
    <input autocomplete="off" type="text" v-model="amounts1" class="form-control"      id="inputPasswor2"          placeholder="持币多少拿分红" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " >The highest value of GASThe default 200000 cannot exceed 500000   </label>
    <input autocomplete="off" type="text" v-model="amounts5" class="form-control"      id="inputPasswor2"          placeholder="200000-500000的整数,不填则为300000" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
  <br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>Dividend token contract address The black hole address represents the local currency </strong> </label>
    <input autocomplete="off" type="text" v-model="addrs1" class="form-control"      id="inputPasswor2"          placeholder="分红代币合约地址,默认分红本币" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>

 <br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>The LP return address defaults to the black hole address and can be modified to your own wallet address</strong> </label>
    <input autocomplete="off" type="text" v-model="addrs5" class="form-control"      id="inputPasswor2"          placeholder="LP回流接收地址 不填默认为黑洞地址" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
 <br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>The marketing wallet address defaults to the black hole address, which can be modified to your own wallet address</strong> </label>
    <input autocomplete="off" type="text" v-model="addrs2" class="form-control"      id="inputPasswor2"          placeholder="营销钱包地址 不填默认为黑洞" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
<br>
<label for="inputPassword5" class="form-label  " ><strong><h3>Whether to limit purchases and airdrops</h3></strong> </label>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>One-time purchase limit, 0 means no limit</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts2" class="form-control"      id="inputPasswor2"          placeholder="单笔限购数量 0为不限制" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>One-time restriction, 0 means no restriction</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts3" class="form-control"      id="inputPasswor2"          placeholder="单笔限卖数量 0位不限制" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
<br>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>The maximum number of coins held by a single address, 0 means unlimited</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts4" class="form-control"      id="inputPasswor2"          placeholder="最大持币数量" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>The number of airdrops per single address, 0 means no airdrops</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts6" class="form-control"      id="inputPasswor2"          placeholder="单地址空投数量 每次两地址 0为不空投" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
<br>
<label for="inputPassword5" class="form-label  " ><strong><h3>Automated Marketing and Killing Bots</h3></strong> </label>
<div class="row g-3">
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>Promotion cost percentage</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts7" class="form-control"      id="inputPasswor2"          placeholder="推广手续费" >
  </div>
  <div class="col">
    <label for="inputPassword5" class="form-label  " ><strong>How many generations of marketing? up to 8</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts8" class="form-control"      id="inputPasswor2"          placeholder="推广层级 最高8代" >
  </div>
    <div class="col">
      <label for="inputPassword5" class="form-label  " ><strong>0 means don't kill blocks 1 block = 3 seconds</strong> </label>
    <input autocomplete="off" type="text" v-model="amounts9" class="form-control"      id="inputPasswor2"          placeholder="杀区块数量 每区块=三秒" >
  </div>
  
  </div>
<br>
<div class="col row g-3">
<button type="submit"  @click="shuzu" class="btn btn-success">submit</button>
  </div>


</form>  
    




  </div>
</div>







      </div>
    </div>
</div>








<!-- 结束 -->

        </div>


<!-- 底部 -->

<div style="background-color: rgba(34, 34, 34);">
  <div style="height: 30px;"></div>
<nav class="container">
    <div class="row mb-3">
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;" ><img src="../../img/1.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/2.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/3.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/4.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/5.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/6.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/7.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/8.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/9.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/10.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/11.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/12.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/13.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/14.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/15.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/16.png"  style="width: 170px;height: 36px;"  alt=""></div>
    </div>
</nav>

</div>

<div class="container">
    <br>
  <div class="row">
    <div class="col-sm-8"><img src="../../img/logo.png"  style="width: 125px; height: 75px;" alt=""></div>
    <div class="col-sm-4">
    <div class="nav justify-content-end">
    <h4 style="color: rgb(192, 188, 188);"><strong>
contact us:

    <a href="https://t.me/ZVX_Official" target="_black">
    <img src="../../img/ico_telegram.png" style="height: 30px;" alt=""></a>   
  <img src="../../img/ico_twitter.png" style="height: 30px;" alt=""> 
  </a><img src="../../img/ico_youtube.png" style="height: 30px;" alt="" > 
</strong>
 </h4> 
</div>
</div>
 </div>
 </div>
	</body>
</html>
