<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="ZVX区块链孵化中心" />

		<title>ZVX区块链孵化平台,铸币</title>

		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/bootstrap-icons.css" />

		<script src="../../css/jquery.min.js"></script>
		<script src="../../css/bootstrap.bundle.min.js"></script>

		<script src="../../css/vue.js"></script>

		<script src="../../css/ethers.umd.min.js"></script>
		<script src="dapp.js"></script>

		<style type="text/css">
			#bottonStyle {
				outline: none; /*去除点击后样式的核心代码*/
				border-style: none;
			}
		</style>
	</head>
	<body style="background-color: black">
         <style>  
div.wid{ 
    width:125px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
 }  


div.body { padding-top: 130px; }






 </style>  
<div id="vm">


  
		<header class="p-3 bg-dark text-white fixed-top">
			<div class="container ">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
				>
				<img src="../../img/fi.png" alt="">
        
					<ul
						class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
					>
						<li><a href="https://zvx.cc" class="nav-link px-2 text-white">首页</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary">铸币</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">LP质押</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">空投</a></li>
						<li><a href="#" class="nav-link px-2 text-secondary disabled">自助建站</a></li>
					</ul>
      <a href="../../en/heco/" class="nav-link px-2 text-white" > English<img src="../../img/English.png" alt="china" style="height: 39px;"></a>
					<div class="text-end">

 
      <form class="d-flex" >
    
        
         <button  class="btn btn-outline-success"  id="wallet" v-if="!ready && !wrongNetwork" v-on:click="connectWallet" type="button" > 连接钱包 </button>
         <span class="badge bg-success" v-if="ready "><div >连接成功：<span  href="#0"   v-text="account"></div></span></span>
         <span class="badge bg-danger"  v-if="wrongNetwork"  >请切换到HECO链</span>
        
         
      </form>


       


					</div>
				</div>
			</div>
		</header>



<!--  -->


 <!-- Loading Modal -->
  <div id="loadingModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="loadingLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="loadingLabel">&nbsp;</h4>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert Modal -->
  <div id="alertModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="alertLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="alertLabel">&nbsp;</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <i class="fs-2 text-danger fe fe-alert-triangle"></i>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Info Modal -->
  <div id="infoModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="infoLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header align-items-center d-flex">
          <h4 class="modal-title x-title" id="infoLabel">&nbsp;</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="float-start">
            <i class="fs-2 fe fe-info"></i>
          </div>
          <div class="ms-5 ps-4 float-none">
            <p class="x-message">&nbsp;</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>



<!-- 正文 -->





<div class="container-lg  body ">
 <div class="row mb-3 ">
       <div class="col-md-4 themed-grid-col" >
      





        
          <ul class="list-group mb-3" style="text-align: center;" >
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h3 class="my-0" >使用须知</h3>
             
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>公测活动进行中 部署费用为1HT</strong> </h6>
             
            </div>
            
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>使用本协议部署的代币免于审计</strong> </h6>
             
            </div>
            
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="text-success">
              <h6 class="my-0"><strong>平台将会为其免费颁发免审计认证证书(待开放)</strong> </h6>
             
            </div>
            
          </li>
                

        </ul>   
      

           <ul class="list-group mb-3" >
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="new-address">
              <h6 class="my-0">您最近部署代币</h6>

            </div>

          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{newContractAddress}}</h6>

            </div>

        </ul>   
      
      

      
      
      
      </div>
      
      <div class="col-md-8 themed-grid-col "  >
             
 <a href="../../mint/matic/" ><button type="button"  class="btn btn-outline-success">MATIC基础代币</button></a>
 <a href="../../mint/bsc/" ><button type="button" class="btn btn-outline-success">BSC基础代币</button></a>
 <a href="../../mint/heco/" ><button type="button" class="btn btn-outline-success">HECO基础代币</button></a>
 <a href="../../mint/okx/" ><button type="button" class="btn btn-outline-success">OKX 基础代币</button></a>
 <a href="../../mint/zvx/" ><button type="button" class="btn btn-outline-success">ZVX协议全功能分红代币</button></a>
<div class="card text-white bg-dark mb-3" >
  <br>
  <label for="inputPassword5" class="form-label container "  ><h3 >heco基础代币部署</h3> </label>
  <div class="card-body">

    <label for="inputPassword5" class="form-label  "  ><strong><h4>代币基本信息</h4> </strong> </label>
    <form  v-on:submit.prevent="createChild">

   <div class="row g-3">
  <div class="col">
   
    <input autocomplete="off" type="text" v-model="name" class="form-control"      id="inputPasswor2"    required    placeholder="代币名称" >
  </div>
  <div class="col">

    <input autocomplete="off" type="text" v-model="symbol" class="form-control"      id="inputPasswor3"     required     placeholder="代币符号" >
  </div>
  </div>
 <br>
<div class="row g-3">
  <div class="col">
    
    <input autocomplete="off" type="text" v-model="totalSupply" class="form-control"      id="inputPasswor2"   required       placeholder="总供应量" >
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>
  <br>
  <div class="row g-3">
  <div class="col">
    <div class="alert alert-success" role="alert">
 部署后合约管理权自动归您发币的地址所有,代币也将打入您发币的地址
</div>
  </div>
  <!-- <div class="col-2">
<button type="submit" class="btn btn-success">提交</button>
  </div> -->
  </div>


<div class="col row g-3">
<button type="submit"  @click="shuzu" class="btn btn-success">提交</button>
  </div>


</form>  
    




  </div>
</div>







      </div>
    </div>
</div>








<!-- 结束 -->

        </div>


<!-- 底部 -->

<div style="background-color: rgba(34, 34, 34);">
  <div style="height: 30px;"></div>
<nav class="container">
    <div class="row mb-3">
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;" ><img src="../../img/1.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/2.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/3.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/4.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/5.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/6.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/7.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/8.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/9.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/10.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/11.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/12.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/13.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/14.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/15.png"  style="width: 170px;height: 36px;"  alt=""></div>
      <div class="col-6 col-md-2 themed-grid-col" style="height: 50px;"><img src="../../img/16.png"  style="width: 170px;height: 36px;"  alt=""></div>
    </div>
</nav>

</div>

<div class="container">
    <br>
  <div class="row">
    <div class="col-sm-8"><img src="../../img/logo.png"  style="width: 125px; height: 75px;" alt=""></div>
    <div class="col-sm-4">
    <div class="nav justify-content-end">
    <h4 style="color: rgb(192, 188, 188);"><strong>联系我们：

    <a href="https://t.me/ZVX_Official" target="_black">
    <img src="../../img/ico_telegram.png" style="height: 30px;" alt=""></a>   
  <img src="../../img/ico_twitter.png" style="height: 30px;" alt=""> 
  </a><img src="../../img/ico_youtube.png" style="height: 30px;" alt="" > 
</strong>
 </h4> 
</div>
</div>
 </div>
 </div>
	</body>
</html>
